body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  color: hsl(223, 47%, 23%);
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  margin-top: 10%;
  font-size: 23px;
}

.card {
  margin: 15px;
  max-width: 450px;
  min-width: 290px;
  height: auto;
  background-color: white;
  border-radius: 20px;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.image-hero {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.attribution {
  padding: 40px;
}
.price-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 15px;
}
.price-card a:hover {
  color: hsl(245, 75%, 52%);
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.price-card a:-webkit-any-link {
  color: hsl(245, 75%, 52%);
}
.wrapper-logo-price {
  display: flex;
  align-self: center;
}
.wrapper-text {
  align-self: center;
}
.music-logo {
  align-self: center;
  padding-right: 20px;
  vertical-align: middle;
}

.price {
  font-weight: 400;
  opacity: 0.6;
  margin: 5px;
}

.price-title {
  margin: 5px;
}

.card-content {
  margin: 25px;
}

.text-content {
  font-weight: 400;
  opacity: 0.5;
  padding: 6px;
  text-align: center;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  font-size: 16px;
  line-height: 24px;
}

/* buttons */
.submit-payment {
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  height: 50px;
  border-radius: 10px;
  color: white;
  border: 0px;
  box-shadow: 0 25px 10px -12px hsla(245, 75%, 52%, 0.25);
}
.submit-payment:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}

.cancel-order {
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  margin-top: 25px;
  margin-bottom: 35px;
}
.cancel-order:hover {
  text-align: center;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
